USE [SchoolManagementSystem]
GO
/****** Object:  Table [dbo].[AcademicYears]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicYears](
	[AcademicYearID] [smallint] IDENTITY(1,1) NOT NULL,
	[AcademicYearName] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_AcademicYears] PRIMARY KEY CLUSTERED 
(
	[AcademicYearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcadimicLevels]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcadimicLevels](
	[AcadimicLevelId] [smallint] NOT NULL,
	[Name] [nchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[AcadmicLevelType] [smallint] NULL,
 CONSTRAINT [PK_Gradess] PRIMARY KEY CLUSTERED 
(
	[AcadimicLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcadimicYearsLevel]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcadimicYearsLevel](
	[AcademicYearsLevelID] [int] NOT NULL,
	[AcademicYearID] [smallint] NULL,
	[AcadimicLevelId] [smallint] NULL,
 CONSTRAINT [PK_AcadimicYearsLevel] PRIMARY KEY CLUSTERED 
(
	[AcademicYearsLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcadimicYearsLevelSubject]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcadimicYearsLevelSubject](
	[AcadimicYearsLevelSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[AcademicYearsLevelID] [int] NULL,
 CONSTRAINT [PK_AcadimicYearsLevelSubject] PRIMARY KEY CLUSTERED 
(
	[AcadimicYearsLevelSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendencID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[AcadimicLevelId] [smallint] NULL,
	[ClassID] [smallint] NULL,
	[TeacherId] [bigint] NULL,
	[Attendence_date] [date] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[SemesterId] [int] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[AttendencID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [smallint] IDENTITY(1,1) NOT NULL,
	[ClassName] [nchar](100) NULL,
	[ClassNumber] [smallint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [bigint] NULL,
	[EnrollmentDate] [datetime] NULL,
	[YearClassID] [smallint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[SemesterID] [int] NULL,
	[ExamGrade] [float] NULL,
	[HomeworkGrade] [float] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[EnrollmentID] [int] NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library](
	[LibraryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[FileName] [nvarchar](50) NULL,
	[AcadimicLevelId] [smallint] NULL,
	[TeacherId] [bigint] NULL,
	[ClassID] [smallint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Library] PRIMARY KEY CLUSTERED 
(
	[LibraryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[CityId] [int] NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterID] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Semesters] PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [bigint] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[FirstName] [nvarchar](50) NULL,
	[FahterName] [nvarchar](50) NULL,
	[GrandFatherName] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[Gender] [smallint] NULL,
	[NationalId] [varchar](12) NULL,
	[BirthDate] [date] NULL,
	[JoinDate] [date] NULL,
	[BloodType] [varchar](10) NULL,
	[YearClassID] [smallint] NULL,
	[Username] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](150) NULL,
	[RegionId] [int] NULL,
	[Address] [nvarchar](250) NULL,
	[ParentName] [nvarchar](100) NULL,
	[ParentPhone] [varchar](50) NULL,
	[ParentEmail] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Table1_1] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](150) NULL,
	[ClassID] [smallint] NULL,
	[TeacherId] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[AcadimicLevelId] [smallint] NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[GrandFatherName] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[Gender] [smallint] NULL,
	[NationalId] [varchar](12) NULL,
	[JoinDate] [date] NULL,
	[Specialization] [nvarchar](100) NULL,
	[RegionId] [int] NULL,
	[Address] [nvarchar](250) NULL,
	[Username] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](150) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](150) NULL,
	[FullName] [nvarchar](75) NULL,
	[UserName] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[BirthDate] [date] NULL,
	[LoginTryAttemptDate] [datetime] NULL,
	[LoginTryAttempts] [smallint] NULL,
	[LastLoginOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [smallint] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YearClass]    Script Date: 5/20/2024 9:25:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearClass](
	[YearClassID] [smallint] IDENTITY(1,1) NOT NULL,
	[AcademicYearsLevelID] [int] NULL,
	[ClassID] [smallint] NULL,
 CONSTRAINT [PK_YearClass] PRIMARY KEY CLUSTERED 
(
	[YearClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AcadimicLevels] ([AcadimicLevelId], [Name], [CreatedOn], [CreatedBy], [Status], [AcadmicLevelType]) VALUES (1, N'الصف الاول                                                                                          ', NULL, NULL, 1, 1)
INSERT [dbo].[AcadimicLevels] ([AcadimicLevelId], [Name], [CreatedOn], [CreatedBy], [Status], [AcadmicLevelType]) VALUES (2, N'الصف الثاني                                                                                         ', NULL, NULL, 1, 1)
INSERT [dbo].[AcadimicLevels] ([AcadimicLevelId], [Name], [CreatedOn], [CreatedBy], [Status], [AcadmicLevelType]) VALUES (3, N'الصف التالث                                                                                         ', NULL, NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [Name], [CreatedOn], [CreatedBy], [Status], [UpdatedBy], [UpdatedOn]) VALUES (1, N'Zawia', NULL, NULL, 1, NULL, CAST(N'2024-04-21T20:27:40.223' AS DateTime))
INSERT [dbo].[Cities] ([CityId], [Name], [CreatedOn], [CreatedBy], [Status], [UpdatedBy], [UpdatedOn]) VALUES (2, N'مصراته', NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AcadimicYearsLevel]  WITH CHECK ADD  CONSTRAINT [FK_AcadimicYearsLevel_AcademicYears] FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYears] ([AcademicYearID])
GO
ALTER TABLE [dbo].[AcadimicYearsLevel] CHECK CONSTRAINT [FK_AcadimicYearsLevel_AcademicYears]
GO
ALTER TABLE [dbo].[AcadimicYearsLevel]  WITH CHECK ADD  CONSTRAINT [FK_AcadimicYearsLevel_AcadimicLevels] FOREIGN KEY([AcadimicLevelId])
REFERENCES [dbo].[AcadimicLevels] ([AcadimicLevelId])
GO
ALTER TABLE [dbo].[AcadimicYearsLevel] CHECK CONSTRAINT [FK_AcadimicYearsLevel_AcadimicLevels]
GO
ALTER TABLE [dbo].[AcadimicYearsLevelSubject]  WITH CHECK ADD  CONSTRAINT [FK_AcadimicYearsLevelSubject_AcadimicYearsLevel] FOREIGN KEY([AcademicYearsLevelID])
REFERENCES [dbo].[AcadimicYearsLevel] ([AcademicYearsLevelID])
GO
ALTER TABLE [dbo].[AcadimicYearsLevelSubject] CHECK CONSTRAINT [FK_AcadimicYearsLevelSubject_AcadimicYearsLevel]
GO
ALTER TABLE [dbo].[AcadimicYearsLevelSubject]  WITH CHECK ADD  CONSTRAINT [FK_AcadimicYearsLevelSubject_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[AcadimicYearsLevelSubject] CHECK CONSTRAINT [FK_AcadimicYearsLevelSubject_Subjects]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_AcadimicLevels] FOREIGN KEY([AcadimicLevelId])
REFERENCES [dbo].[AcadimicLevels] ([AcadimicLevelId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_AcadimicLevels]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Classes]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Semesters] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Semesters]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Students]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Teachers]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Students]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_YearClass] FOREIGN KEY([YearClassID])
REFERENCES [dbo].[YearClass] ([YearClassID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_YearClass]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Enrollments] FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollments] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Enrollments]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_Grades_Semesters] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semesters] ([SemesterID])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_Grades_Semesters]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK_Library_AcadimicLevels] FOREIGN KEY([AcadimicLevelId])
REFERENCES [dbo].[AcadimicLevels] ([AcadimicLevelId])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK_Library_AcadimicLevels]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK_Library_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK_Library_Classes]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [FK_Library_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [FK_Library_Teachers]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_Regions_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([CityId])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_Regions_Cities]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Regions] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Regions]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_YearClass] FOREIGN KEY([YearClassID])
REFERENCES [dbo].[YearClass] ([YearClassID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_YearClass]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_AcadimicLevels] FOREIGN KEY([AcadimicLevelId])
REFERENCES [dbo].[AcadimicLevels] ([AcadimicLevelId])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_AcadimicLevels]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Classes]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Teachers]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Regions] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Regions]
GO
ALTER TABLE [dbo].[YearClass]  WITH CHECK ADD  CONSTRAINT [FK_YearClass_AcadimicYearsLevel] FOREIGN KEY([AcademicYearsLevelID])
REFERENCES [dbo].[AcadimicYearsLevel] ([AcademicYearsLevelID])
GO
ALTER TABLE [dbo].[YearClass] CHECK CONSTRAINT [FK_YearClass_AcadimicYearsLevel]
GO
ALTER TABLE [dbo].[YearClass]  WITH CHECK ADD  CONSTRAINT [FK_YearClass_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[YearClass] CHECK CONSTRAINT [FK_YearClass_Classes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1- ابتدائي
2- اعدادي
3- ثانوي' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AcadimicLevels', @level2type=N'COLUMN',@level2name=N'AcadmicLevelType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1- Male
2- Female' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Students', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''A+'',''A-'',''B+'', ''B-'', ''AB+'', ''AB-'', ''O+'', ''O-''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Students', @level2type=N'COLUMN',@level2name=N'BloodType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1- Male  2-Female ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teachers', @level2type=N'COLUMN',@level2name=N'Gender'
GO
